<!DOCTYPE html>
<html>
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mundus NFT</title>
  <meta name="description" content="Biggest NFT in Metaverse" />
<meta name="keywords" content="mundus, nft, metaverse, web3, crypto, polygon, ethereum" />
<meta name="author" content="Mundus" />
  <!--Favicon Included-->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />

  <!-- Gobal Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/notyf.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/lroadmap.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  <!-- header section start -->
  <header>
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-us">about us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nft">nft</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#metaverse">metaverse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#roadmap">roadmap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#whitepaper">whitepaper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link connect-wallet" href="#" id="connect-wallet">OpenSea</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- header section end -->
  <!-- banner section start -->
  <section id="home" class="banner-section d-flex align-items-center scroll-section">
    <video width="100%" height="100%" autoplay playsinline loop muted="muted">
      <source src="/assets/videos/breath.mp4" class="video" id="video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="banner-desc animated fadeInUp">
      <h1>Next Biggest Expedition in the world of Cryptocurrency</h1>
      <button type="button" class="common-btn" id="buy-btn-modal" style="text-transform: none">
        Buy NFTs
      </button>
      <p class="banner-digit"><span class="count">0</span>/10000</p>
    </div>
  </section>
  <!-- banner section end -->
  <!-- about company start -->
  <section id="about-us" class="about-company scroll-section">
    <div class="container">
      <h2 class="seprator-title wow animated fadeInUp">About Us</h2>
      <div class="row wow animated fadeInUp">
        <div class="col-md-6 col-lg-6 align-self-end">
          <img src="/assets/images/about-img.png" alt="about-company" />
        </div>
        <div class="col-md-6 col-lg-5">
          <p>
            Welcome to Mundus District, a paradise in the Metaverse where NFT holders can have unlimited fun and benefit
            from its utilities while earning passive income. Holders can customize their avatars, decorate their rooms
            and shops to their liking, invite friends, host parties, and display their NFTs. Get your access card for
            this magical place in the Metaverse and explore a magnificent building along with its secrets.
          </p>
          <hr>
          <button type="button" class="common-btn" data-toggle="modal"
            data-target="#exampleModalCenter5">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- about company end -->
  <!-- video trailer start -->
  <section class="how-it-works scroll-section">
    <div class="container">
      <div class="wow animated fadeInUp">
        <div style="align-items:center;">
          <iframe width="100%" height="500px" class="youtube-vid" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
</iframe>
        </div>
      </div>
    </div>
  </section>
  <!-- video trailer end -->
  <!-- how it works start -->
  <section id="nft" class="how-it-works scrollme">
    <div class="container">
      <h2 class="seprator-title wow animated fadeInUp">NFT</h2>
      <div class="how-work-list">
        <div class="row align-items-center wow animated fadeInUp">
          <div class="col-md-6">
            <video width="65%" height="65%" autoplay playsinline loop muted="muted">
              <source src="/assets/videos/classic.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-6">
            <div class="how-work-title d-flex align-items-center">
              <h4>Classic Mundus Access Card</h4>
            </div>
            <p>
              Classic Mundus Access Card allows you to a paradise called the
              Mundus District. You can own a room in the hotel, rent your room
              to non-holders, and have access to the Casino as well as social
              zones with Classic Access Card. There are 4000 of them.
            <ul>
              <li>Amount: 4000</li>
              <li>Own a customizable hotel room</li>
              <li>You can rent your hotel room to non-holders</li>
              <li>Access to Mundus Casino and Social Zones </li>
            </ul>
            </p>
          </div>
        </div>
        <div class="row align-items-center wow animated fadeInUp">
          <div class="col-md-6">
            <video width="65%" height="65%" autoplay playsinline loop muted="muted">
              <source src="/assets/videos/silver.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-6">
            <div class="how-work-title d-flex align-items-center">
              <h4>Silver Mundus Access Card</h4>
            </div>
            <p>
              Silver Mundus Access Card gives you every utility of the Classic card, with a suite replacing the standard
              hotel room.2000 will be available.
            <ul>
              <li>Amount: 2000</li>
              <li>Access to Mundus Casino and Social Zones
              </li>
              <li>Own a customizable suite room</li>
              <li>You can rent your hotel suite to non-holders
              </li>
            </ul>
            </p>
          </div>
        </div>
        <div class="row align-items-center wow animated fadeInUp">
          <div class="col-md-6">
            <video width="65%" height="65%" autoplay playsinline loop muted="muted">
              <source src="/assets/videos/gold.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-6">
            <div class="how-work-title d-flex align-items-center">
              <h4>Golden Mundus Access Card</h4>
            </div>
            <p>
              The card itself is a work of art. With a Golden Card, you can have a plus-size suite in the Mundus Hotel.
              In addition to the Silver Card, you will also have a shop in the commercial zone for you to use or rent
              for additional income. Only 1250 of them will be available.
            <ul>
              <li>Amount: 1250</li>
              <li>Own a shop and a plus-size hotel suite
              </li>
              <li>You can rent your shop and hotel suite to non-holders for passive income
              </li>
              <li>Access to Mundus Casino and Social Zones
              </li>
            </ul>
            </p>
          </div>
        </div>
        <div class="row align-items-center wow animated fadeInUp">
          <div class="col-md-6">
            <video width="65%" height="65%" autoplay playsinline loop muted="muted">
              <source src="/assets/videos/platinum.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="col-md-6">
            <div class="how-work-title d-flex align-items-center">
              <h4>Platinum Mundus Access Card </h4>
            </div>
            <p>
              Exclusive Platinum Mundus Access Card shows the top-tier services that are waiting for you in the Mundus
              District. Only 750 special holders will be able to have Platinum Cards to benefit from everything the
              Mundus District has to offer. With the Platinum Card, you will have your exclusive penthouse, your own
              yacht, and the biggest shops in the commercial zones. You can rent your properties to non-holders for the
              highest income from rent. Enjoy the de luxe of exclusivity with the Platinum Mundus Access Card.
            <ul>
              <li>Amount: 750</li>
              <li>Own an Exclusive Penthouse
              </li>
              <li>Own a Yacht
              </li>
              <li>Own a bigger shop in a high-value shopping district</li>
              <li>You rent your Penthouse, yacht, and shop to non-holders for passive income</li>
              <li>Access to Exclusive Mundus Casino and Social Zones.
              </li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- how it works end -->
    <!-- metaverse start -->
    <section id="metaverse" class="about-company scroll-section">
      <div class="container">
        <h2 class="seprator-title wow animated fadeInUp">Metaverse</h2>
        <div class="wow animated fadeInUp">
          <div style="align-items:center;">
            <img src="/assets/images/metaverse.png"  alt="metaverse" />
          </div>
        </div>
      </div>
    </section>
    <!-- metaverse end -->
  <!-- roadmap start -->
  <section id="roadmap" class="how-it-works scrollme" id="timeline">
    <div class="container">
      <h2 class="seprator-title wow animated fadeInUp">Roadmap</h2>
      <div class="timeline">

        <div class="timeline-row">
          <div class="timeline-time">Phase 1<small>Completed</small></div>
          <div class="timeline-content">
     
            <h4>Building Up</h4>
            <ul class="timeline-list">
              <li>Team recruitment</li>
              <li>Concept and idea development</li>
              <li>Launch social media platform (Discord & Twitter)</li>
              <li>Branding</li>
              <li>NFTs design and integration</li>
              <li>Metaverse: Casino Mundus</li>
            </ul>
          </div>
        </div>

        <div class="timeline-row">
          <div class="timeline-time">Phase 2<small>in progress</small></div>
          <div class="timeline-content">
            <h4>Launch period</h4>
            <ul class="timeline-list">
              <li>Adding more tools and new items to the Mundus Metaverse</li>
              <li>Release district map</li>
              <li>Marketing</li>
              <li>Community building: WL, giveaways</li>
              <li>Release more details of the Mundus district Metaverse</li>
              <li>Preview demo</li>
              <li>Design of the Mundus 3D avatar</li>
              <li>Release whitepaper</li>
              <li>Mint details</li>
              <li>WL & public mint</li>
            </ul>
          </div>
        </div>

        <div class="timeline-row">
          <div class="timeline-time">Phase 3</div>
          <div class="timeline-content">
  
            <h4>After mint</h4>
            <ul class="timeline-list">
              <li>Citizen Chat: only for Mundus NFT holders</li>
              <li>Adding more tools and new items to the Mundus Metaverse</li>
              <li>Collaboration and partnerships</li>
              <li>Launch Mundus Beta
                <ul class="timeline-list">
                  <li>Casino: earn Casi coins by playing roulette, poker or slot machine</li>
                  <li>Rooms/shop: customize your hotel room and shop (buy furnitures)</li>
                  <li>Museum: show your NFTs in the Mundus museum/gallery</li>
                  <li>Socializing: visit the bars/nightclubs with your friends</li>
                  <li>Billboards: promote your NFT project on the district billboards</li>
                  <li>Avatars: design your own 3D avatar</li>
                  <li>Shops: renting a shop in the Metaverse (NFT holders)</li>
                  <li>Rent out your room to non-NFT holders</li>
                </ul>
              </li>
              <li>Releasing information: tokenomics</li>
              <li>Staking: Earn passive income</li>
              <li>Growth of the map district</li>
              <li>Merch store ($CASI)</li>
              <li>VR integration</li>
              <li>Organizing real life events and parties with the community</li>
              <li>Release roadmap 2.0</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- roadmap end -->
  <!-- whitepaper start -->
  <section id="whitepaper" class="how-it-works scrollme">
    <div class="container">
      <h2 class="seprator-title wow animated fadeInUp">WHITEPAPER</h2>
      <div class="how-work-list">
        <div class="wow animated fadeInUp">
          <div class="coming-soon">
            <h3 style="padding: 100px;"">COMING SOON !</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- whitepaper end -->
  <!-- Team start -->
  <section id="team" class="contact-us scroll-section">
    <div class="container">
      <h2 class="seprator-title wow animated fadeInUp">Team</h2>
      <div class="row wow animated fadeInUp">

        <div class="col-md-4">
          <div class="gradient-border">
            <div class="contact-box d-flex align-items-start">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="address-icon" />
              <div class="contact-dtl">
                <h5>Malcom</h5>
                <address>
                  Co-Founder
                </address>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="gradient-border">
            <div class="contact-box d-flex align-items-start">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="mobile-icon" />
              <div class="contact-dtl">
                <h5>Justin</h5>
                <a>
                  Co-Founder
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="gradient-border">
            <div class="contact-box d-flex align-items-start">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="email-icon" />
              <div class="contact-dtl">
                <h5>Amber</h5>
                <a>
                  Design and Operations
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-space">
          <div class="gradient-border">
            <div class="contact-box d-flex align-items-start">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="email-icon" />
              <div class="contact-dtl">
                <h5>Florian</h5>
                <a>
                  Game developer
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-space">
          <div class="gradient-border">
            <div class="contact-box d-flex align-items-start">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="email-icon" />
              <div class="contact-dtl">
                <h5>Scott</h5>
                <a>
                  Community manager
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- team end -->
  <!-- copyright start -->
  <footer>
    <div class="container">
      <div class="copyright wow animated fadeInUp">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <ul class="footer-links m-0 p-0 list-unstyled d-flex justify-content-center justify-content-lg-start">
              <li>
                <button type="button" class="common-btn" data-toggle="modal" data-target="#exampleModalCenter3">
                  FAQs
                </button>
              </li>
              <li>
                <a href="#" class="fab fa-discord"></a>
              </li>
              <li>
                <a href="#" class="fab fa-twitter"></a>
              </li>
            </ul>
          </div>
          <div class="col-md-12 col-lg-6 text-center text-lg-right">
            <p>&copy; 2022 Mundus NFT. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- copyright start -->

  <!-- faq modal -->
  <div class="modal fade common-modal" id="exampleModalCenter3" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-title d-flex align-items-center justify-content-between">
          <h3>FAQ</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-icon.svg" alt="close" />
          </button>
        </div>
        <div class="modal-body">
          <div id="accordion" class="common-accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Why should we mint a Mundus card NFT ?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul>
                    <li>
                      <p>The Mundus card gives you access to the Mundus district meta verse. Every holder can visit the
                        casino, shops etc. And of course, it is your key to your hotel room/penthouse.</p>
                    </li>
                    <li>
                      <p>A Mundus card NFT holder can personalize his/her 3D avatar.</p>
                    </li>
                    <li>
                      <p>Receive $CASI tokens (staking) and we will reward the community with some airdrops.</p>
                    </li>
                    <li>
                      <p>You will be part of a great community; a holder has access to the OwnMundus chat. We will
                        invite
                        holders to a real-life event, more information will be released later.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    When is the mint scheduled ?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    The mint is scheduled April/May (2022 Q2). We will share later more mint details (Mint price/date).
                    Mint will happen on the Solana blockchain.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    What is the total supply of the Mundus card collection ?</button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    The total supply is 10 000.
                    There are 4 different Mundus cards available:
                  <ul>
                    <li>
                      <p>Classic Mundus card: supply 4000</p>
                    </li>
                    <li>
                      <p>Silver Mundus card: supply 3000</p>
                    </li>
                    <li>
                      <p>Golden Mundus card: supply 2100</p>
                    </li>
                    <li>
                      <p>Platinum Mundus card: supply 900</p>
                    </li>
                  </ul>
                  Of course, we have created a solid rarity system. We will share more information about it
                  later.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Can the Mundus card holders earn more $CASI tokens ?
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Yes, Mundus card holders have an opportunity to rent out their shops, hotel rooms, lofts, penthouses
                    etc.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    Are we able to decorate our properties (Hotel room/ loft etc.) ?
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Yes, you are. You can buy furnitures, art, paint your walls, … at the Mundus shops. Of course, you
                    need $CASI tokens to customize your property.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">
                    Can I get a WL spot to mint (whitelist mint) ?
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    Yes of course, make sure to join our Discord server.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven">
                    What are you creating ?
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  <p>
                    We are creating a space (Mundus district) where holders/non-holders can vibe together. It is
                    essential for us that everyone wants to visit the Mundus meta verse every day. You can play games to
                    earn money while you have fun with friends. Own and design your property in the meta verse.
                    Personalize your own 3D avatar… Our goal is to connect the visitors from all over the world.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- privacy policy modal -->
  <div class="modal fade common-modal" id="exampleModalCenter4" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-title d-flex align-items-center justify-content-between">
          <h3>Privacy Policy</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-icon.svg" alt="close" />
          </button>
        </div>
        <div class="modal-body">
          <ul class="common-list m-0 p-0 list-unstyled">
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus
              gravida tortor diam tortor, sit urna cras ac amet. Molestie
              amet, velit purus turpis consectetur lorem sed. Odio nec
              adipiscing pretium, cursus curabitur tincidunt placerat.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus
              gravida tortor diam tortor, sit urna cras ac amet. Molestie
              amet, velit purus turpis consectetur lorem sed. Odio nec
              adipiscing pretium, cursus curabitur tincidunt placerat. Nullam
              urna nulla dui, donec aliquam.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- learn more modal -->
  <div class="modal fade common-modal" id="exampleModalCenter5" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-title d-flex align-items-center justify-content-between">
          <h3>About</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img src="/assets/images/close-icon.svg" alt="close" />
          </button>
        </div>
        <div class="modal-body">
          <p style="text-indent :5em; font-weight:normal">
                Most respected engineers were hired by Mr Frank to start the construction of a building in utmost secrecy.
            Workers and engineers entered the site from a high-security gate. Long walls surrounded the construction,
            preventing curious eyes. The building’s plans worried even the most experienced engineer. Unfortunately, Mr
            Frank passed away with the secrets of this building. The building stood there for centuries, incomplete,
            unexplained, and alone.
            </p>
            <p style="text-indent :5em; font-weight:normal">
              Centuries later, in 2022, two young men came across this building. At first glance, they saw something about
              the building. Its design was unique and had an intriguing feeling like it was calling these two men. They
              explored the building to unveil its secrets with the enthusiasm of discovery and an urge to satisfy their
              curiosity. After many attempts; going through every room, inspecting each device, and investigating secret
              areas, even walls; they were sure that this was the most advanced casino our world had ever seen. They built
              it in the digital world to be able to explore all its secrets from a different perspective and share their
              findings with the world.
            </p>
            <p style="text-indent :5em; font-weight:normal">

              They designed this place to fulfill every need, opportunity, and interest. They rebuilt the casino, along
              with a hotel to welcome every guest with customizable rooms, bars and nightclubs for entertainment, and
              commercial zones to open up shops and to show off NFTs. Get your avatar and join the Mundus district in the
              Metaverse to enjoy everything it has to offer and explore various secrets the main casino holds.
            </p>
            <hr>
            <img src="/assets/images/about-img.png" alt="about-company" />
            <hr>
            <p style="text-indent :5em; font-weight:normal">
              Welcome to Mundus District, a paradise in the Metaverse where NFT holders can have unlimited fun and benefit from its utilities while earning passive income. Holders can customize their avatars, decorate their rooms and shops to their liking, invite friends, host parties, and display their NFTs. Get your access card for this magical place in the Metaverse and explore a magnificent building along with its secrets.
            </p>
            <p style="font-weight:normal">
              <strong>Mundus Casino:</strong> Play a wide selection of casino games to have fun while earning $Casi Coins. You can use $Casi Coins on your bets, or you can deposit them to buy decorations for your avatar, rooms, and shops.
            </p>
            <p style="font-weight:normal">
              <strong>Mundus Hotel:</strong> Enjoy the most comfortable hotel rooms in the Metaverse. Design it to your liking with various furniture and rent it to non-holders for passive income.
            </p>
            <p style="font-weight:normal">
              <strong>Mundus Shops:</strong> Commercial zone in the Mundus District. Holders can rent shops to sell and earn. You can also rent your shops to non-holders for additional passive income.
            </p>
            <p style="font-weight:normal">
              <strong>Mundus Museum:</strong> Show off the arts and NFTs you own in the Mundus Museum. Visit the museum to embrace the visual aesthetic of other holders’ arts.
            </p>
            <p style="font-weight:normal">
              <strong>Social Zones:</strong> Get to know, have fun, and socialize with your friends and other holders in the social zones such as bars and nightclubs. A district wouldn’t be complete without night parties.
            </p>
            <p style="font-weight:normal">
              <strong>Billboards:</strong> Show anything you want to promote to the holders with billboards that are located in strategic locations for everyone to see.
            </p>
            <hr>
            <h5><strong><u>MUNDUS ACCESS</u></strong></h5>
            <p style="font-weight:normal">Mundus District is an exclusive place in the Metaverse and requires one of the Mundus Access Cards to enter. There are four types of Mundus Access Cards. Every type allows holders to enter the Mundus District and Social Zones while providing a hotel room where card holders can customize and rent it to non-cardholders. Different cards allow different special utilities.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Global script -->
  <script type="text/javascript" src="/assets/js/lib/jquery2.1.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/js/parallax.js"></script>
  <script type="text/javascript" src="/assets/js/wow.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.scrollme.js"></script>
  <script type="text/javascript" src="/assets/js/notyf.min.js"></script>

  <script type="text/javascript" src="/user/js/main.js"></script>

  <script type="text/javascript" src="/assets/js/web3.min.js"></script>
  <script type="text/javascript" src="/assets/js/web3modal.min.js"></script>
  <script type="text/javascript" src="/user/js/abi.js"></script>

  <script type="text/javascript" src="/user/js/index.js"></script>
</body>

</html>